.master-projects-div{
    background-color: #E9ECEF;
    padding-bottom: 60px;
    width: 100vw;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-picture{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.site-button{
    color: crimson;
    background-color: black;
    border: 3px solid cornflowerblue;
    padding: 10px;
}