.landing-master-div{
    padding-top: 35px;
    /* min-height: 300vh; */
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 600px;
    background-image: url(https://wallpaperaccess.com/full/1223755.jpg);
    justify-content: center;
    align-items: center;
    background-position: center top;
    background-size: cover;
}

.hero-image {
    width: 100vw;
    height: 450px;
    position: relative;
    object-fit: cover;
    object-position: center;
}

.profile-pic{
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    height: 140px;
    width: 145px;
    top: 35px;
    left: 75px;
    border: 4px solid #04c2c9;
}

.hero-text{
    display: flex;
    flex-direction: column;
    color: white;
    width: 550px;
    margin-left: 50px;
    font-size: 250%;
    top: 200px;
    text-shadow: 1px 1px 2px black;
    left: 300px;
}

.hero-text > h1{
    font-size: 1.3rem;
  padding-top: 10px ;
}

.hero-text-name{
    display: flex;
}

.name{
    padding-left: 4px;
    color: crimson;
    text-shadow: 1px 1px 2px black;
}

.my-work{
    cursor: pointer;
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px black;

    display: flex;
    width: 200px;
    height: 50px;
    font-weight: 700;
    align-items: center;
    justify-content: space-around;
    border: 2px solid white
}

.arrow{
    width: 25px;
}

.my-work:hover{
    background-color: #04c2c9;
    border: 2px solid #04c2c9;
    transition: all .35s ease-in-out;
}

.my-work:hover .arrow{
    transform: rotate(90deg);
    transition: all .35s ease-in-out;
}

.about-h1{
    margin-top: 50px;
    font-size: 240%;
    color: #45474a;
    border-bottom: 4px solid #45474a;
}

.about-div{
    background-color: #E9ECEF;
    padding-bottom: 60px;
    width: 100vw;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.master-skill-container{
    margin-top: 50px;
    border-radius: 2px;
    display: flex;
    width: 95vw;
    position: relative;
    height: 250px;
    background-color: white;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 25px;
    justify-content: space-evenly;
    box-shadow: 0 0 6px black;
}

.skill-title{
    color: #ED5A61;
    position: absolute;
    font-size: 170%;
    top: 20px;
    left: 20px;
}

.skill-container{
    position: relative;
    width: 150px;
    height: 150px;
    /* border: 2px solid salmon; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.skill-container > h1 {
    color: #054E8A;
    position: absolute;
    bottom: 0;
    font-size: 150%;

}

.skill-img {
    /* border: 1px solid green; */
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-top: 5px;
}
@media(max-width: 1600px){
    .skill-container{
        width: 115px;
        height: 115px;
    }
    .skill-container > h1{
        font-size: 110%;
    }
    .skill-img{
        width: 75px;
        height: 75px;
    }
}

@media(max-width: 1000px){
    .skill-container{
        width: 90px;
    }
    .skill-container > h1 {
        font-size: 100%;
    }
}

@media(max-width: 800px){
    .profile-pic{
        left: 30px;
        top: 50px;
        height: 110px;
        width: 110px;
    }
}

@media(max-width: 700px){
    .skill-container{
        width: 75px;
    }
    .skill-container >h1 {
        font-size: 90%;
    }
}

@media(max-width: 600px){
    .master-skill-container{
        /* height: 300px; */
        /* align-items: flex-start; */
    }
    .hero-text > h1{
        font-size: 55%;
    }
    .skill-container{
        width: 70px;
    }
    .skill-img{
        height: 75px;
        width: 75px;
    }
    .skill-container >h1 {
        font-size: 80%;
    }
}

@media(max-width:500px){
    .skill-container{
        width: 60px;
    }
    .skill-img{
        height: 70px;
        width: 70px;
    }
}

@media(max-width: 450px){
    .master-skill-container{
        width: 98vw;
        height: 200px;
    }
    .skill-container{
        width: 55px;
        height: 100px;
    }
    .skill-img{
        height: 55px;
        width: 55px;
    }
    .skill-container >h1 {
        font-size: 70%;
    }
}