.master-about-div {
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    min-height: 200vh;
}

.about-goals-container {
    padding-top: 40px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.goal-img-background {
    background-color: #04c2c9;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goal-img {
    height: 50px;
    width: 50px;
}

.about-goals {
    background-color: aquamarine;
    display: flex;
    box-shadow: 2px 2px 6px black;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 230px;
    height: 250px;
}

.goal-logo{
    font-size: 120%;
    text-shadow: 1px 1px 5px white;
    color: #023852;
}

.goal-text {
    width: 85%;
}

.dad-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    border: 5px solid rebeccapurple;
}

.dad-info {
    border: 3px solid cornflowerblue;
    display: flex;
    width: 300px;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.dad-info>p {
    width: 230px;
}

.dad-info > h1 {
    font-size: 190%;
}

.dad-and-row {
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

.list-container{
    width: 70%;
    padding-left: 20px;
}

.dad-list{
    list-style: disc;
    padding-bottom: 10px;
}

.place {
    height: 500px;
    width: 500px;
    background-color: crimson;
}