.master-about-div {
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 180vh;
}

.about-header{
    margin-top: -55px;
    font-size: 240%;
    color: #45474a;
    border-bottom: 4px solid #45474a;
}

.about-goals-container {
    /* padding-top: 40px; */
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.goal-img-background {
    background-color: #04c2c9;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goal-img {
    height: 50px;
    width: 50px;
}

.about-goals {
    /* background-color: aquamarine; */
    background-color: #56ffe3;
    display: flex;
    box-shadow: 2px 2px 6px black;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 230px;
    height: 250px;
}

.goal-logo{
    font-size: 120%;
    text-shadow: 1px 1px 0px white;
    color: #023852;
}

.goal-text {
    width: 85%;
    text-shadow: 1px 1px 0 white;
}

.dad-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* border: 5px solid rebeccapurple; */
}

.dad-info {
    display: flex;
    width: 300px;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.dad-info>p {
    width: 230px;
}

.dad-info > h1 {
    font-size: 190%;
}

.dad-and-row {
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

.list-container{
    width: 70%;
    padding-left: 20px;
}

.dad-list{
    list-style: disc;
    padding-bottom: 10px;
    font-size: 80%;
}

.place {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0d5470;
}

.work-together-head{
    height: 100px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.work-together-head > h1, .work-together-head > p {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 150%;
}

.work-together-inputs-container{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 60%;
    padding: 20px;
    /* background-color: rgb(182, 182, 182); */
    background-color: white;
    justify-content: space-between;
}

.work-together-inputs{
    border: none;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid white;
}

.work-together-inputs::placeholder{
    color: white;
    font-size: 120%;
}

.work-buttons-container{
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px black;
    background-color: #0d5470;
    display: flex;
    justify-content: space-between;
    /* margin-top: 15px; */
}

.work-buttons{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-weight: bold;

}

.work-buttons:hover{
    border: 2px solid #04c2c9;
    background-color: #04c2c9;
    transition: all .35s ease-in-out;
}

@media(max-width: 1600px){
    .about-goals{
        height: 220px;
        width: 180px;
    }
    .work-together-inputs-container{
        width: 80%;
    }
    .goal-text{
        font-size: 80%;
    }
    .dad-container{
        width: 60%;
    }
    .place{
        width: 400px;
    }
    .work-together-head > p{
        font-size: 125%;
    }
    .master-about-div{
        min-height: 1000px;
    }
}

@media(max-width: 1100px){
    .about-goals{
        width: 150px;
    }
    .goal-logo{
        font-size: 100%;
    }
    .goal-text{
        font-size: 70%;
    }
    .goal-img{
        height: 40px;
        width: 40px;
    }
}

@media(max-width: 800px){
    
}

