.master-footer-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-color: #1b242f;
}

.master-footer-div>h4{
    padding-top: 15px;
    color: white;
}

.logo-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo-links {
    height: 40px;
    width: 40px;
    padding: 4px;
    background-color: rgb(107, 107, 107);
}

.logo-links:hover{
    cursor: pointer;
    background-color: #04c2c9;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 2px white;

}

.master-footer-div>p {
    color: white;
    padding-bottom: 15px;
    font-size: 50%;
}